<div class="container">
    <div class="col-md-6">
        <app-factory-selection></app-factory-selection>
    </div>
    <div class="col-md-6">
        <div class="col-sm-6">
            <input #date type="date" (change)="setEventDate(date.value)">
        </div>
        <div class="col-sm-6">
            <input type="text" placeholder="Filter...">
        </div>
    </div>
</div>

<hr>

<div class="col-lg-10">
    <app-first-event></app-first-event>
</div>
<div class="col-lg-2 sidepane">
    <app-line-detail-popup></app-line-detail-popup>
</div>
