<h2>App : packing_in</h2>
<br>
<div id="packing_in_div">
    <div class="row">
        <div class="col-sm-2">
            <app-panel (click)="onSelectStation(packing_in[0])" [station_data]="packing_in[0]"></app-panel>
        </div>
        <div class="col-sm-2">
            <app-panel (click)="onSelectStation(packing_in[1])" [station_data]="packing_in[1]"></app-panel>
        </div>
        <div class="col-sm-2">
            <app-panel (click)="onSelectStation(packing_in[2])" [station_data]="packing_in[2]"></app-panel>
        </div>
        <div class="col-sm-2">
            <app-panel (click)="onSelectStation(packing_in[3])" [station_data]="packing_in[3]"></app-panel>
        </div>
        <div class="col-sm-2">
            <app-panel (click)="onSelectStation(packing_in[4])" [station_data]="packing_in[4]"></app-panel>
        </div>
        <div class="col-sm-2">
            <app-panel (click)="onSelectStation(packing_in[5])" [station_data]="packing_in[5]"></app-panel>
        </div>
    </div>
</div>
