<h2>App : line_in</h2>
<br>
<div id="line_in_div">
    <div class="row">
        <div class="col-sm-2">
            <app-panel (click)="onSelectStation(line_in[0])" [station_data]="line_in[0]"></app-panel>
        </div>
        <div class="col-sm-2">
            <app-panel (click)="onSelectStation(line_in[1])" [station_data]="line_in[1]"></app-panel>
        </div>
        <div class="col-sm-2">
            <app-panel (click)="onSelectStation(line_in[2])" [station_data]="line_in[2]"></app-panel>
        </div>
        <div class="col-sm-2">
            <app-panel (click)="onSelectStation(line_in[3])" [station_data]="line_in[3]"></app-panel>
        </div>
        <div class="col-sm-2">
            <app-panel (click)="onSelectStation(line_in[4])" [station_data]="line_in[4]"></app-panel>
        </div>
        <div class="col-sm-2">
            <app-panel (click)="onSelectStation(line_in[5])" [station_data]="line_in[5]"></app-panel>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">
            <app-panel (click)="onSelectStation(line_in[6])" [station_data]="line_in[6]"></app-panel>
        </div>
        <div class="col-sm-2">
            <app-panel (click)="onSelectStation(line_in[7])" [station_data]="line_in[7]"></app-panel>
        </div>
        <div class="col-sm-2">
            <app-panel (click)="onSelectStation(line_in[8])" [station_data]="line_in[8]"></app-panel>
        </div>
        <div class="col-sm-2"></div>
        <div class="col-sm-2"></div>
        <div class="col-sm-2"></div>
    </div>
</div>