<div class="container">
    <div class="row">
        <app-endline-qc [subject_array]="subject_array"></app-endline-qc>
    </div>
    <div class="row">
        <app-sew-inline [subject_array]="subject_array"></app-sew-inline>
    </div>
    <div class="row">
        <app-line-in [subject_array]="subject_array"></app-line-in>
    </div>
    <div class="row">
        <app-line-in2 [subject_array]="subject_array"></app-line-in2>
    </div>
</div>