<h2>App : sew_inline</h2>
<br>
<div class="row">
    <div class="col-sm-2">
        <app-panel (click)="onSelectStation(sew_inline[0])" [station_data]="sew_inline[0]"></app-panel>
    </div>
    <div class="col-sm-2">
        <app-panel (click)="onSelectStation(sew_inline[1])" [station_data]="sew_inline[1]"></app-panel>
    </div>
    <div class="col-sm-2">
        <app-panel (click)="onSelectStation(sew_inline[2])" [station_data]="sew_inline[2]"></app-panel>
    </div>
    <div class="col-sm-2">
        <app-panel (click)="onSelectStation(sew_inline[3])" [station_data]="sew_inline[3]"></app-panel>
    </div>
    <div class="col-sm-2">
        <app-panel (click)="onSelectStation(sew_inline[4])" [station_data]="sew_inline[4]"></app-panel>
    </div>
    <div class="col-sm-2">
        <app-panel (click)="onSelectStation(sew_inline[5])" [station_data]="sew_inline[5]"></app-panel>
    </div>
</div>
<div class="row">
    <div class="col-sm-2">
        <app-panel (click)="onSelectStation(sew_inline[6])" [station_data]="sew_inline[6]"></app-panel>
    </div>
    <div class="col-sm-2">
        <app-panel (click)="onSelectStation(sew_inline[7])" [station_data]="sew_inline[7]"></app-panel>
    </div>
    <div class="col-sm-2">
        <app-panel (click)="onSelectStation(sew_inline[8])" [station_data]="sew_inline[8]"></app-panel>
    </div>
    <div class="col-sm-2">
        <app-panel (click)="onSelectStation(sew_inline[9])" [station_data]="sew_inline[9]"></app-panel>
    </div>
    <div class="col-sm-2">
        <app-panel (click)="onSelectStation(sew_inline[10])" [station_data]="sew_inline[10]"></app-panel>
    </div>
    <div class="col-sm-2">
        <app-panel (click)="onSelectStation(sew_inline[11])" [station_data]="sew_inline[11]"></app-panel>
    </div>
</div>
<div class="row">
    <div class="col-sm-2">
        <app-panel (click)="onSelectStation(sew_inline[12])" [station_data]="sew_inline[12]"></app-panel>
    </div>
    <div class="col-sm-2">
        <app-panel (click)="onSelectStation(sew_inline[13])" [station_data]="sew_inline[13]"></app-panel>
    </div>
    <div class="col-sm-2">
        <app-panel (click)="onSelectStation(sew_inline[14])" [station_data]="sew_inline[14]"></app-panel>
    </div>
    <div class="col-sm-2">
        <app-panel (click)="onSelectStation(sew_inline[15])" [station_data]="sew_inline[15]"></app-panel>
    </div>
    <div class="col-sm-2">
        <app-panel (click)="onSelectStation(sew_inline[16])" [station_data]="sew_inline[16]"></app-panel>
    </div>
    <div class="col-sm-2">
        <app-panel (click)="onSelectStation(sew_inline[17])" [station_data]="sew_inline[17]"></app-panel>
    </div>
</div>
<div class="row">
    <div class="col-sm-2">
        <app-panel (click)="onSelectStation(sew_inline[18])" [station_data]="sew_inline[18]"></app-panel>
    </div>
    <div class="col-sm-2">
        <app-panel (click)="onSelectStation(sew_inline[19])" [station_data]="sew_inline[19]"></app-panel>
    </div>
    <div class="col-sm-2">
        <app-panel (click)="onSelectStation(sew_inline[20])" [station_data]="sew_inline[20]"></app-panel>
    </div>
    <div class="col-sm-2">
        <app-panel (click)="onSelectStation(sew_inline[21])" [station_data]="sew_inline[21]"></app-panel>
    </div>
    <div class="col-sm-2">
        <app-panel (click)="onSelectStation(sew_inline[22])" [station_data]="sew_inline[22]"></app-panel>
    </div>
    <div class="col-sm-2">
        <app-panel (click)="onSelectStation(sew_inline[23])" [station_data]="sew_inline[23]"></app-panel>
    </div>
</div>
<div class="row">
    <div class="col-sm-2">
        <app-panel (click)="onSelectStation(sew_inline[24])" [station_data]="sew_inline[24]"></app-panel>
    </div>
    <div class="col-sm-2">
        <app-panel (click)="onSelectStation(sew_inline[25])" [station_data]="sew_inline[25]"></app-panel>
    </div>
    <div class="col-sm-2">
        <app-panel (click)="onSelectStation(sew_inline[26])" [station_data]="sew_inline[26]"></app-panel>
    </div>
    <div class="col-sm-2"></div>
    <div class="col-sm-2"></div>
    <div class="col-sm-2"></div>
</div>