/* .topbar {
    margin: 0;
    background-color: #f5f5f5;
}

h1 {
    color: #260e04;
}

input[type=date]{
    border: 1px solid #ccc;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
} */

.navbar-brand {
    color: #212121;
    font-family: Arial, Helvetica, sans-serif;
}
.navbar-brand:hover {
    color: #212121;
}
li:hover {
    background-color: #f6f6f6;
}