<!-- <div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Daily Production Support</h1>
    <br>
    <div class="row">
      <div class="col-md-6">
        <app-factory-selection></app-factory-selection>
      </div>
      <div class="col-md-6">
        <div class="col-sm-6">
          Date:
          <input #date type="date" (change)="setEventDate(date.value)">
        </div>
        <div class="col-sm-6">
        </div>
      </div>
    </div>
  </div>
</div> -->

<nav class="navbar navbar-default">
  <div>
    <div class="navbar-header">
      <a class="navbar-brand" [routerLink]="['']">Daily Production Monitoring</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a [routerLinkActive]="['active']" [routerLink]="['']">First Event</a></li>
      <li><a [routerLinkActive]="['active']" [routerLink]="['/time_event']">Time Event</a></li>
      <li><a href="#">Members</a></li>
    </ul>
  </div>
</nav>
