.panel {
    box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.3);
    text-align: center;
    padding-top: 2%;
    padding-right: 5%;
    padding-left: 5%;
    margin-right:0;
    margin-left:0;
    background-color: #ffffff;
    border: 1px solid rgba(0,0,0,.0625);
}

.panel:hover {
    background-color: #f5f5f5;
    cursor: pointer;
}

.red-palatte {
    height: 30px;
    width: 30px;
    background-color: #ea1c0d;
    color: #ffffff;
    display: inline-block;
    border-radius: 50%;
    border: 2px solid #ba000d;
}

.green-palatte {
    height: 30px;
    width: 30px;
    background-color: #43a047;
    color: #ffffff;
    display: inline-block;
    border-radius: 50%;
    border: 2px solid #00701a;

    animation-name: color_change;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

.hsk {
    /* background-color: #f9fafb; */
    padding-bottom: 5%;
}

.header {
    text-align: center;
    /* background-color: #000000; */
}

.line {
    padding: 0;
}

.header-text {
    color:#72777a;
    font-weight: bold;
    font-size: smaller;
}

.line-text {
    font-size: 65%;
    font-weight: bold;
}

h5 {
    font-weight: normal;
}


/* @-webkit-keyframes color_change {
	from { background-color: #a5d6a7 }
	to { 
        background-color: #087f23;
        border: 2px solid #80e27e;
    }
}
@-moz-keyframes color_change {
	from { background-color: #a5d6a7 }
	to { 
        background-color: #087f23;
        border: 2px solid #80e27e;
    }
}
@-ms-keyframes color_change {
	from { background-color: #a5d6a7 }
	to { 
        background-color: #087f23;
        border: 2px solid #80e27e;
    }
}
@-o-keyframes color_change {
	from { background-color: #a5d6a7 }
	to { 
        background-color: #087f23;
        border: 2px solid #80e27e;
    }
}
@keyframes color_change {
	from { background-color: #a5d6a7 }
	to { 
        background-color: #087f23;
        border: 2px solid #80e27e;
    }
} */
