<div class="panel">
  <div class="row header">
    <div class="col-sm-3">
      <span [class]="station_data.f_event"></span>
    </div>
    <div class="col-sm-9">
      <span class="header-text">{{ station_data.hsk }}</span>
    </div>
  </div>
  <div class="row line">
    <span class="line-text">{{ station_data.sub }}</span>
  </div>
</div>

